DATABASE_USERNAME="userdb"
DATABASE_PASSWORD="secret123"
DATABASE_NAME="twitter"
DATABASE_URL="postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_NAME}"
APP_SECRET="secret123"
