@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #55abee;
    --secondary: #fff;
    --accent: #228dcf;
    --background: #fff;
    --main: #0d0106;
    --header: #2d3748;
}

@layer base {
  input {
      border: none;
      border-radius: 20px;
      outline: none;
      border: 2px solid rgb(0, 0, 0, 0.2);
      text-align: center;
      padding: .25rem;
  }
  textarea {
    border: none;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0, 0.2);
    padding: .25rem;
  }
}